
body{
    background-color: #1c3541;
}
.container {

    border: 1px solid #b9b8b8;
    box-shadow: 10px 5px rgba(68, 66, 66, 0.75);
    border-radius: 15px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-height: 550px;
    border-color: aquamarine;

}
h1{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #b9b8b8;
}
.keys{
    padding: 20px;
    margin:auto;
    background-color: #266068;
    height: 100%;
    border-radius: 20px;
}
.keys > input{
    width: 100px;
    height: 40px;
    font-size: 20px;
    
}
.equal-sign {
    background-color: #0d5d80;
    border-color: #25a8e0;
    color: #fff;
}
.equal-sign:hover{
    background-color: #1c3541;
}
.clear {

    background-color: #db9294;
    border-color: #b0353a;
    color: #fff;
    width: 150px;
    height: 40px;  

}

.clear:hover {
    background-color: #f3050d;
}
.screen{

    background-color:white;
    display: grid;
    grid-template-areas: (4, 1fr);
    color: black;
    font-size: 25px;
    width: 60%;
    height: 30%;
    cursor: default;
    padding-left: 38%;
    margin: auto;
}
table{
    height: 25vh;
    width: 400px;
}
